.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container > * {
  position: relative;
}

.color-underline::after {
  content: ""; /* No extra content, just the underline effect */
  display: block;
  width: 100%; /* Matches the width of the text */
  height: 2px; /* Adjust thickness */
  background-color: #000; /* Change color as needed */
  margin-top: 4px; /* Adds some space between the text and underline */
}
